.post-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    width: 40vw;
    background-color: black;
    margin-top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 375px){
    .post-container{
        width: 270px;
    }
}

.post-image{
    border-style: solid;
    border-width: 10px;
    border-color: rgb(207, 34, 3);
}

@media screen and (max-width: 375px){
    .post-image{
        width: 125px;
    }
}

.greeting{
    color: white;
}

.greeting-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 60px;
    width: 25%;
    position: fixed;
    right: 5px;
    bottom: 5px;
}

@media screen and (max-width: 375px){
    .greeting-container{
        width: 0;
        height: 0;
        font-size: 0%;
    }
}