.nav{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-image:linear-gradient(rgb(115, 253, 191), rgb(255, 255, 255)) ;
    width: 100vw;
    height: 10vh;
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

.links{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}

.login-link{
    border-style: none;
    font-size: large;
    font-weight: bold;
    padding: 5px;
    color: black;
}

.your-feed{
    border-style: none;
    font-size: large;
    font-weight: bold;
    padding: 5px;
    color: black;
}

.post-review{
    border-style: none;
    font-size: large;
    font-weight: bold;
    padding: 5px;
    color: black;
}

.your-reviews{
    border-style: none;
    font-size: large;
    font-weight: bold;
    padding: 5px;
    color: black;
}